html {
	font-family:  'courier new', monospace;
	background-color: #210;
	color: white;
}

a {
	color: #ADF;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 52em;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}

form, form label {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

input {
	min-width: 24em;
	padding:   1em;
	border-radius: 1em;
}

pre.hero {
	tab-size: 4;
	font-size: 14px;
	font-family:  'courier new', monospace;
	font-variant-numeric: tabular-nums;
	text-transform: full-width;

	margin-left: auto;
	margin-right: auto;
}

div.links {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.results {
	text-align: justify;
}

h3 {
	text-align: center;
}
